# This is Git's per-user configuration file.
[user]
	name = hongyu
	email = linerwang1997@gmail.com
# Please adapt and uncomment the following lines:
#	name = Lin Hongyu
#	email = linhongyu@Lins-MacBook-Pro.local
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesFile = /Users/linhongyu/.gitignore_global
	quotepath = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
